prefix_rule(pattern=["python3", "linear-change-status/scripts/change_status.py"], decision="allow")
prefix_rule(pattern=["python3", "linear-create-issue/scripts/create_issue.py"], decision="allow")
prefix_rule(pattern=["python3", "linear-custom-view/scripts/custom_view.py"], decision="allow")
prefix_rule(pattern=["python3", "linear-read-issue/scripts/read_issue.py"], decision="allow")
